<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Idea</th>
      <th>Status</th>
      <th>Created At</th>
      <th>Modified At</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= project.users.map {|u| u.username}.join(', ') %></td>
        <td><%= link_to project.name, project %></td>
        <td><%= link_to project.idea.name, idea_path(project.idea) %></td>
        <td><%= project.status %></td>
        <td><%= project.created_at %></td>
        <td><%= time_ago_in_words project.updated_at %></td>
         <% if user_signed_in?%>
          <% if my_projects %>
            <td><%= link_to 'Edit', edit_project_path(project), class: 'btn btn-default' %></td>
            <td><%= link_to 'Unsubscribe', unsubscribe_url(project.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          <% else %>
            <td></td>
            <td><%= link_to 'Subscribe', subscribe_url(project.id), method: :update, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %></td>
          <% end %>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
